@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /*Palette*/
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-neutral: var(--neutral);
  /*Colors base layer relies on*/
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-border: var(--border);
}

:root {
  /*Palette*/
  --background: #f7f7f7;
  --primary: #283396;
  --secondary: #222121;
  --accent: #dda139;
  --neutral: #cdcdcd;
  /*Colors base layer relies on*/
  --foreground: oklch(0.985 0 0);
  --ring: oklch(0.556 0 0);
  --border: oklch(1 0 0 / 10%);
}

@layer base {
  body {
    font-family: var(--font-family-sans);
  }
}

@layer components {
  .text-title {
    font-size: var(--font-size-title);
    font-weight: 600; /* semibold */
  }
  .text-header {
    font-size: var(--font-size-header);
    font-weight: 600;
  }
  .text-subheader {
    font-size: var(--font-size-subheader);
    font-weight: 600;
  }
  .text-body {
    font-size: var(--font-size-body);
    font-weight: 400; /* regular */
  }
}
